@page
@model Lebiru.Announce.Pages.IndexModel
@{
    ViewData["Title"] = Model.HeroTitle;
}

@if (Model.Announcements.Any())
{
    <ul>
        @foreach (var announcement in Model.Announcements)
        {
            <li>
                <h2>@announcement.Title</h2>
                <p><small>@announcement.Date.ToString("MMMM dd, yyyy")</small></p>
                <div class="content">
                    @Html.Raw(Markdig.Markdown.ToHtml(announcement.Content)) <!-- Render Markdown as HTML -->
                </div>
                @if (!string.IsNullOrEmpty(announcement.ImageUrl))
                {
                    <img src="@announcement.ImageUrl" alt="Announcement Image" class="announcement-image" />
                }
            </li>
        }
    </ul>
}
else
{
    <p>No announcements yet.</p>
}
